@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
   display: flex;
   align-items: center;
   justify-content: center;   
}
header > .left{
   float:right;
   padding: 40px;

   
   
}
.left >h1{
   font-size:36px;
   line-height: 48px;
   letter-spacing: -0.045em;
   font-weight: 700;
   font-style: normal;
   font-family: 'PT Serif';
   color: black;
}
header >.side{
   /* margin:0 auto; */
  float:left;
  /* margin-top:30px; */
  font-family: 'Poppins';
  font-size:18px;
  /* margin-left: 200px; */
  line-height: 27px;
  font-style: normal;
  font-family: 'Poppins';

font-weight: 400;



}
.side h4{
   margin-top: 10px;
padding-bottom: 10px;
font-weight: 600;
text-transform: uppercase;
}
.side p{ 
   line-height: 27px;
   font-weight: 400px;


}
.all-cards{
   margin: 0 auto;
   /* margin-top: 100px; */
   justify-content: center;
   align-items: center;
    display: grid;
    place-items: center;
    /* margin-right: 200px;
    margin-left: 200px; */
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(3,250px);
    column-gap: 30px;

}
.card{
   padding:30px;
   /* position:relative; */
}
.card img{
   width:100%;
}
.card> .side-text{
   transform: rotate(90deg);
   line-height: 16px;
   font-weight: 400;
   float:right;
   font-size:12px;
   position: absolute;
   text-transform: uppercase;
   
  
}
.card > p{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}
.card img{
box-shadow: 3px 20px 99px -10px rgba(0,0,0,0.65);
}
.footer{
    
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        text-align: center;
        margin-top: 60px;

        color: #A9A9A9;
}
@media screen and (min-width:992px){
header >.side{

    float:left;
    margin-top:30px; 
    margin-left: 200px;
}
.all-cards{
   
   margin-top: 100px; 
   margin-right: 200px;
    margin-left: 200px;
}
.card-2{

        top:400px;
        margin-top:100px;
        }
        .card >.text-2{
        left:750px;
        top:450px;
        position: absolute;

        }
        .card-3{
        flex-wrap:wrap;
        }
        .card-3 > .text-3{
            left: 1030px;;
        top:390px;
        position: absolute;
        }
        .card-1 >.text-1{
        position: absolute;
        top: 410px;
        left: 450px;
        }
        .card-5{
        margin-top: 80px;
        }
        .text-4 {
            top:850px;
            left:460px;
            position: absolute;
        }


        .text-5{
            left: 750px;
            top: 880px;
            position: absolute;
        }

        .text-6{
            left: 1020px;
            top: 845px;
            position: absolute;
        }
}
@media screen  and (max-width:599px){
header > .left{

   padding: 20px;

   
   
}
header >.side{
   
    margin:auto;
  }
.all-cards{
    grid-template-columns: repeat(2,auto);
} 
.card-2{

        top:400px;
        margin-top:100px;
        }
        .card >.text-2{
        left:380px;
        top:366px;
        position: absolute;

        }
        .card-3{
        flex-wrap:wrap;
        }
        .card-3 > .text-3{
            left: 165px;;
        top:720px;
        position: absolute;
        }
        .card-1 >.text-1{
        position: absolute;
        top: 360px;
        left: 170px;
        }
        .card-5{
        margin-top: 80px;
        }
        .text-4 {
            top:710px;
            left:400px;
            position: absolute;
        }


        .text-5{
            left: 173px;
            top: 1130px;
            position: absolute;
        }

        .text-6{
            left: 390px;
            top:  1030px;
            position: absolute;
        }

   
}
